
<h1>Hey <%= @user_name%>!!!</h1>
</br>

<p>I know you're ready for <b>FLAPPY WORMS</b>, the best game ever.  We're excited too! So we just wanted to remind you that we expect the game to be out April 1st, 2015.  Mark your calendar now!</p> 
</br>

<p>We'll send you updates as they become available.</p> 

</br>
<p>Til next time,</p>
<p>The Flappy Worm Team</p>

<%=image_tag('floppylogo.jpg')%>
