



<h1><%= image_tag('floppylogo.jpg', class: 'center_image') %>

</h1>


<div style="float:left;width:50%">
<p><h2>Changing the world, one worm at a time! 
If you liked Frogger, you will LOVE Flappy Worms.</h2> 
-    Real time, online, all major platforms (You are the WORM!) 
</br>
-    Competitive, Multiplayers (Hello, bragging rights!) 
</br>
-    For kids young and old (I’m looking at you grandma!)
</br> 
<h2>Do you want in? 
</br>
Sign up to be part of our exclusive invitation only premiere!</h2></p>
</div>
<div style="float:right;width:50%">
<%= render 'form' %>


</div>
<footer>

	<%= image_tag('stevetheworm.jpg', size: '200', class: 'center_image') %>


</br>


</footer>




