<h1>Awesome News!</h1>
</br>
<p>You've got a new user sign up for Flappy Worms.  Woo Hoo!</p>
</br>
<p>The email address is: <%= @user_email%></p>
</br>
<p>Go ahead, SPAM the crap out of them :-)</p>
</br>
<p>XOXO,</p> 
<p>Team Steve</p>

