<!DOCTYPE html>
<html>
<head>

	<style>

		body {background: green}
		img {border: 2px solid black;
			margin: 0 auto;}
	h1 {text-align: center;
		}
		</style>
  <title>Worms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
